<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delicious recipes offered by chief-editor Marc de Hoogh</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/styles.css'>
</head>
<body>
    <h1>Ironhack LAB: Recipes cooks relations!</h1>
    <!-- let's put the message part on every page -->
    <div id='message'>Nothing to report!</div>
    <div class='separator'></div>
    <div><a href='/'>Home</a></div> <!-- Nice to be able to go home -->
    {{{body}}}
</body>
</html>