<form action='/user/signup' method='post' class='login-form'>
    <label for='username'>User name</label><input type='text' placeholder='Your name' name='name' value='{{username}}'>
    <label for='username'>User password</label><input type='password' placeholder='Your password' name='password' value='{{userpassword}}'>
    <button type='submit'>Sign up</button>
</form>
